/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #0F172A;
  color: #F8FAFC;
  display: flex;
}

#game {
  position: absolute;
  top: 0;
  right: 0; /* Changed from left to right */
  width: 80%; /* Adjust this value to control canvas width */
  height: calc(100% - 70px);
}

#root {
  pointer-events: none;
  width: 100%;
}

#root > * {
  pointer-events: auto;
}